*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.courier-hide{
    display: none;
}
.courier-show{
    display: block;
}




.add-order{
    margin: 50px 0px 25px 0px;
    text-align: center;
}

.data{
    width: 100%;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.data .left{
    width: 50%;
}
.data .left form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 12px;
    padding: 14px;
}
.data .left form label{
    color: skyblue;
    font-size: 18px;
    margin-bottom: 8px;
}

.data .left form input{
    width: 100%;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    outline: none;
    margin-bottom: 6px;
}
.data .left form select{
    width: 100%;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    outline: none;
    margin-bottom: 6px;
}
.data .left .detail{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.data .left .detail .detail-option{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.data .left .detail .detail-option label{
    color: #000;
    font-size: 16px;
}
.data .left .detail .detail-option select{
    width: 80%;
}
.data .left .detail .detail-option input{
    width: 40%;
}

.data .left .detail .radio{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.data .left .detail .radio .radio-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0px;
}
.data .left .detail .radio .radio-btn input{
    width: 10%;
}
.data .left .detail .radio .radio-btn input:nth-child(2){
    margin-left: 22px;
}

.data .left .detail .radio .radio-btn .radio-btn-data{
    width: 100%;
}
.data .left .detail .radio .radio-btn p{
    width: 100%;
}
.data .left .detail .radio .radio-btn .radio-btn-data #para1{
    font-size: 10px;
    display: none;
}
.data .left .detail .radio .radio-btn .radio-btn-data #para2{
    font-size: 10px;
    display: none;
    color: red;
}

.data .left .detail .radio .radio-btn .radio-btn-data:nth-child(2){
    margin-left: 30px;
}

.data .left .result{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.data .left .result .res-op{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0px;
}
.data .left .result .text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 12px 0px; */
}
.data .left .result .text textarea{
    width: 100%;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    outline: none;
    margin-bottom: 6px;
}

.data .left input[type="submit"]{
    background-color: skyblue;
    font-size: 18px;
    font-weight: bold;
}


.popup{
    width: 400px;
    background-color: rgba(255, 0, 0, 0.644);
    border: radius 12px ;
    padding: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50% ) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.op{
    visibility: visible;
    top: 90%;
    transform: translate(-50%, -50% ) scale(1);
}

.popup button{
    position: absolute;
    right: 6px;
    top: 4px;
    background-color:transparent ;
}
.popup h4{
    margin-top: 18px;
    font-size: 18px;
}

.popup .icon-con{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup .icon-con .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0px;
}
 .popup .icon-con .icon i{
    font-size: 22px;
    color: #000;
}

.data .right{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 30px;
    position: absolute;
    top: 7%;
    left: 50%;
}
.data .right .img{
    width: 100%;
    height: 350px;
}
.data .right .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data .right ul h4{
    margin-top: 30px;
    margin-bottom: 12px;
}


@media screen and (max-width: 799px) {
    .data{
        width: 100%;
        padding: 80px 10px;
        flex-direction: column;
    }
    .data .left{
        width: 100%;
    }
    .data .right{
        width: 90%;
        position: relative;
        margin-left: 0px;
        margin-top: 20px;
        left: 0;
    }
  }

